*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 100;
    
}

body{
    background-color: #5f5f5f;
    font-family: lobster, cursive;
    
 }

 /* a, li{
     color: #fff ;
     text-decoration: none;
     list-style-type: none;

 } */

.logobarbell{
    width: 75px;
    border: 1px solid #1f82f3;
    margin-top: 4px;
}

.nav{
    width: 100%;
    background-color: #222;
    z-index: 20;
   

} 


.main{
    width: 100%;
    
}


.galeria{
    margin-top: 10rem;
}

/* .carousel-bt{
    height: 680px;
} */


.ejercicio{
    margin-top: 15px;
    width: 480px;
    height: 640px;
    
}

.quienessomos{
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
       
}

.quienessomos-container{
    display: flex;
    justify-content: center;
    align-items: center;
}   

.quienessomos-nombre{
    
    display: flex;
    justify-content: center;
    
} 

.nombre{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color: #610505;
    display: flex;
    justify-content: center;
   
} 

.descripcion{
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;

}

 
  

.actividades{
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.levantamiento{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color: #610505;
    display: flex;
    justify-content: center;
}

.crossfit{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color: #610505;
    display: flex;
    justify-content: center;
}

.staff{
    
    margin-bottom: 15px;
    padding-top: 80px;
    
    
}

.staff1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 45px;
    color: #610505;
    display: flex;
    justify-content: center;

}

.descripcion-profes{
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-photo-staff{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
    
}

.photo-profes{
    width: 460px;
    height: 460px;
    
}


.inscripcion{
    padding-top: 60px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #09458a;
    
}

.inscripcion-container{ 
    margin-top: 16rem;
    margin-bottom: 3rem;
}

.form_imput{
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 3px solid #09458a;
    background-color: aliceblue;
    color: #09458a;
}



.pregunta{
    display: flex;
    justify-content: center;
}

.texto-form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.iframe{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 3rem;
}


.maps{
    width: 320px;
    height: 320px;

}

.spotify{
    width: 320px;
    height: 320px;    
}












footer{
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0 0 0;
    background-color: transparent ;
    
    
    
}

.contacto{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
}

